<!-- search -->
<section id="search">
  <div class="container">
    <div class="row">
      <form  #search="ngForm" class="form-group" (ngSubmit)="onClickedSearch(search.value)">
        <div class="row">
          <div class="col-md-8">
            <input type="text" name="search" id="search" class="form-control" placeholder="search" [ngModel]>
          </div>
          <div class="col-md-2">
            <select name="searchBy" id="searchBy" class="form-control form-select" [ngModel]="searchBy">
              <option *ngFor="let item of searchByList" value={{item}}>{{item}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="submit" class="form-control btn btn-primary" value="Search" [ngModel]>
          </div>
          <span style="color:red;">{{errorMessage}}</span>
        </div>
      </form>
    </div>
  </div>
</section>
<router-outlet></router-outlet>